.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  background-color: #f1edfd;
  border-radius: 30px;
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .home-page {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }
}

.home-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .home-content {
    width: 100%;
  }
}

.ahead-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.home-head {
  font-size: 55px;
  margin-top: 10px;
  color: #000000;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .home-head {
    font-size: 30px;
  }
}

.app-and-rating {
  display: flex;
  align-items: center;
}

.app-store-image {
  width: 150px;
  margin-top: -20px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .app-store-image {
    width: 100px;
  }
}

.five-star-image {
  width: 150px;
}
@media screen and (max-width: 767px) {
  .five-star-image {
    width: 120px;
  }
}

.rating {
  margin-top: 0px;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .rating {
    font-size: 13px;
  }
}

.home-image {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .home-image {
    width: 150px;
    height: 150px;
    align-self: center;
    display: none;
  }
}

.home-in-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .home-in-mobile {
    display: inline-block;
    margin-bottom: 20px;
  }
}
